
body{
    background: #F8F8F8;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.todo-container{
    margin: 20px auto;
}

.completed-task{
    text-decoration:line-through;
}

.todo-item{
    padding: 10px;
    font-weight: bold;
    border: 1px solid #f8f8f8;
    margin: 5px auto;
    box-shadow: inset 0px 0px 1px 1px #f8f8f8;
    background-color: white;
}

.todo-form{
    position: relative;
}

.todo-button{
    position: absolute;
    right: 10px;
    top: 6px;
}
